@import 'bootstrap_variables_ovw';

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';

@import 'variables';
@import 'styles_ovw';

// app global css in SCSS form
@font-face {
  font-family: iransans;
  src: url('./fonts/iransans_ultralight.woff2') format('woff2');
  font-weight: 200;
  font-display: block;
}
@font-face {
  font-family: iransans;
  src: url('./fonts/iransans_regular.woff2') format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: iransans;
  src: url('./fonts/iransans_medium.woff2') format('woff2');
  font-weight: 500;
  font-display: block;
}
.my-font {
  font-family: 'iransans';
}
